@import "../../app.scss";
.projects {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: #00adb5;
    font-size: 25px;

    @include mobile{
      padding-top: calc(100vh - 700px);
      font-size: 20px;
    }

    .progressBar {
      height: 10px;
      background-color: #eeeeee;
      border-radius: 50px;
      margin-top: 10px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
    

    .wrapper {
      max-width: 1000px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-self: center;
      gap: 30px;

      @include mobile{
        flex-direction: column;
      }

      .imageContainer {
        margin-top: 100px;
        flex: 1;
        height: 50%;

        @include mobile{
          width: 100%;
          max-height: 300px;
          padding: 0 30px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit:contain;
        }
        
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 270px;

        @include mobile{
          transform: none !important;
          padding: 30px;
          align-items: center;
          text-align: justify;
          padding-top: unset;
          gap: 10px;
        }

        h2 {
          font-size: 30px;
        }

        p {
          color: #eeeeee;
          font-size: 15px;
        }

        button {
          background-color: #00adb5;
          border: none;
          border-radius: 20px;
          width: 150px;
          padding: 10px;
          color: #222831;
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;
          transition: all 1s;
        }

        button:hover {
          background: transparent;
          border: 1px solid #00adb5;
          color: #eeeeee;
        }
      }
    }
  }
}
