@import"../../app.scss";
.cursor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #EEEEEE;
    background-color: transparent;
    position: fixed;
    z-index: 11;

    @include mobile{
        display:none;
    }
}



